<main class="lesson-sidebar">
  <header class="sticky subject">
    <div class="container" *ngIf="previousTopic">
      <span class="icon-button" (click)="navToPreviousTopic()">
        <mat-icon style="margin-right: 10px">expand_less</mat-icon>
        Предыдущая тема
      </span>
    </div>
    <app-info-container *ngIf="currentTopic" title="Текущая тема" [text]="currentTopic.title"></app-info-container>
    <div class="colored-line"></div>
  </header>
  <div class="content">
    <nav class="content__nav">
      <span *ngFor="let tab of tabs"
            class="content__nav__item caption--light"
            [class.content__nav__item--active]="activeTab === tab.selector"
            (click)="selectTab(tab.selector)">{{ tab.title }}</span>
    </nav>
    <div class="content__data" *ngIf="activeTab === tabsEnum.LESSONS">
      <app-highlighted-container *ngFor="let item of lessons"
                                 [color]="item.isFailed ? '#D9534F' : '#00D996'"
                                 [bgColor]="item.id === lesson?.id ? '#00AD78' : null"
                                 (click)="navigateToTopicLesson(currentTopic.id, item.id, item)">
        <app-info-container [center]="true"
                            title="Лекция"
                            [text]="item.title"
                            [class.active]="item.id === lesson?.id"></app-info-container>
      </app-highlighted-container>
    </div>
    <div class="content__data" *ngIf="activeTab === tabsEnum.TASKS">
      <app-highlighted-container *ngFor="let item of tasks"
                                 color="#00D996"
                                 [bgColor]="item.id === task?.id ? '#00AD78' : null"
                                 (click)="navigateToTopicTask(currentTopic.id, item.id)">
        <app-info-container [center]="true"
                            title="Задача"
                            [text]="item.title"
                            [class.active]="item.id === task?.id"></app-info-container>
      </app-highlighted-container>
    </div>
    <div class="content__data" *ngIf="activeTab === tabsEnum.TESTS">
      <app-highlighted-container *ngFor="let item of tests; let i = index"
                                 color="#00D996"
                                 [bgColor]="item._id === test?._id ? '#00AD78' : null"
                                 (click)="navigateToTopicTest(currentTopic.id, item._id)">
        <app-info-container [center]="true"
                            title="Тест"
                            [text]="'Тест ' + (i + 1)"
                            [class.active]="item._id === test?._id"></app-info-container>
      </app-highlighted-container>
    </div>
  </div>
  <footer class="subject subject--next" *ngIf="nextTopic" (click)="navToNextTopic()">
    <app-info-container title="Следующая тема" [text]="nextTopic.title"></app-info-container>
    <aside class="next">
      <mat-icon style="color:white;">expand_more</mat-icon>
    </aside>
  </footer>
</main>
