<section>
  <header class="title">
    Редактирования занятия
  </header>

  <form [formGroup]="form">
    <mat-form-field >
      <mat-label>Название занятия</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="select">
      <mat-label>Уровень сложности</mat-label>
      <mat-select formControlName="level">
        <mat-option value="option">Лёгкий</mat-option>
        <mat-option value="option">Средний</mat-option>
        <mat-option value="option">Сложный</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="levels">
      <caption class="title">Уровни подачи материала</caption>
      <mat-slide-toggle labelPosition="before" class="text">Уровень 1</mat-slide-toggle>
      <mat-slide-toggle labelPosition="before" class="text">Уровень 2</mat-slide-toggle>
      <mat-slide-toggle labelPosition="before" class="text">Уровень 3</mat-slide-toggle>
    </div>
  </form>

  <mat-divider></mat-divider>

  <caption class="caption">
    Уровни подачи материала необходимы для отображения информации в зависимости от знаний обучающегося
  </caption>

  <mat-divider></mat-divider>

  <footer>
    <app-button [alert]="true">Назад</app-button>
    <app-button >Сохранить</app-button>
  </footer>
</section>
