<section class="login">
  <form class="login-form"
        (ngSubmit)="onSubmit()">
    <mat-card class="example-card"
              [formGroup]="form">
      <mat-card-header>
        <mat-card-title>Вход</mat-card-title>
        <mat-card-subtitle *ngIf="error">Неверные данные для входа</mat-card-subtitle>
      </mat-card-header>

      <div>

        <mat-form-field appearance="fill">
          <mat-label>Почта</mat-label>
          <input type="email" formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input type="password" formControlName="password" matInput>
        </mat-form-field>

      </div>

      <button type="submit"
              mat-flat-button
              color="primary"
              [disabled]="form.invalid">Войти</button>

    </mat-card>

    <section class="desc">
      <h1>Цифровой тьютор<sup>Beta</sup></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, quam in aliquet suscipit, libero nunc
        efficitur elit, nec fringilla magna orci id massa. Nullam elementum lacus vitae ante scelerisque pellentesque.
        In varius dolor at finibus euismod. Aenean blandit quam nulla, nec auctor dui maximus ut. Interdum et malesuada
        fames ac ante ipsum primis in faucibus.</p>
    </section>
  </form>
</section>
