@import "../../../../vars";
@import "../../../../colors";

:host {
  display: block;
  height: 100%;
  background-color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: $space;
  flex-grow: 1;
  box-sizing: border-box;
  background: inherit;
  height: inherit;

  &.bottom {
    flex-direction: column-reverse;
  }

  &.center {
    justify-content: center;
  }

  .text {
    margin-bottom: 0;
    color: inherit;
  }

  &.grey {
    background: #D9E0E7;
  }

  &.noPadding {
    padding: 0;
  }

  .caption {
    color: inherit;
    opacity: 0.5;
  }
}
