@import "../../../../vars";
@import "../../../../colors";

:host {
  height: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: $space;
  flex-grow: 1;
  box-sizing: border-box;
  background: white;
  height: 100%;

  &.bottom {
    flex-direction: column-reverse;
  }

  &.center {
    justify-content: center;
  }

  .text {
    margin-bottom: 0;
  }
}
