@import "../../../../vars";
@import '../../../../colors';

.admin-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space * 3;

  & > .shadow-container {
    padding: 0;
  }

  &__list {
    padding: 0 $space;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    &__item {
      position: relative;
      padding: $space;

      a {
        text-decoration: none;
        color: $text-paragraph;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: transparent;
        border-radius: 8px;
        transition: 0.2s background ease-in-out;
      }

      &--active {
        &:after {
          background: $block-green;
        }
      }

      &:hover {
        &:after {
          background: rgba($block-green, 0.8);
        }
      }
    }
  }

  .button {
    background: #17191D;
  }
}
