<mat-drawer-container>
  <mat-drawer mode="side" opened class="drawer-content">
    <div class="drawer-content--inner">
      <div class="page-controls">
        <a
          mat-button
          class="home-button"
          routerLinkActive="active"
          routerLink="/user/my-courses">
          <mat-icon aria-hidden="false" aria-label="">home</mat-icon>
        </a>
        <a
          mat-button
          class="home-button"
          routerLinkActive="active"
          routerLink="/user/courses">
          <mat-icon aria-hidden="false" aria-label="">list</mat-icon>
        </a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="app-content">
      <main class="main">
        <router-outlet></router-outlet>
      </main>
      <aside class="sibebar-content">
        <ng-template #sidebar></ng-template>
      </aside>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
