@import "src/vars";

app-shadow-container {
  height: auto;
  background-color: white;
}

.question {

  &__title {
    margin-bottom: $space * 2;
  }

  &__answers {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    &__item {
      width: 50%;
      margin-bottom: $space;
    }
  }
}
