<h1 class="headline-1">Тест</h1>

<app-shadow-container>

  <div class="flex center" *ngIf="!activeQuestion && !isDone">
    <app-button (click)="startQuiz()">Начать тестирование</app-button>
  </div>

  <div class="question" *ngIf="activeQuestion">
    <h1 class="question__title title">{{ activeQuestion.text }}</h1>

    <ul class="question__answers">
      <li *ngFor="let item of answersMapToObj(activeQuestion.answers)"
          class="question__answers__item">
        <mat-checkbox (click)="handleCheckbox(item)" [checked]="answerIndexes.includes(item.index)">{{ item.answer }}</mat-checkbox>
      </li>
    </ul>

    <app-button (click)="submitQuestion()">Подтвердить</app-button>
  </div>

  <div *ngIf="isDone"
       class="results">
    <p class="title">Ваш результат: <b>4</b></p>
    <p class="text">Вы допустили ошибки в следующих занятиях:</p>
    <ul class="results__subjects">
      <li class="results__subjects__item link">Объект null</li>
      <li class="results__subjects__item link">Объект null</li>
      <li class="results__subjects__item link">Объект null</li>
      <li class="results__subjects__item link">Объект null</li>
    </ul>
  </div>

</app-shadow-container>

