<h1 class="headline-1">Адаптивный тест</h1>

<app-shadow-container *ngIf="!isLoading">

  <div class="question" *ngIf="activeQuestion">
    <h1 class="question__title title">{{ activeQuestion.text }}</h1>

    <ul class="question__answers">
      <li *ngFor="let item of answersMapToObj(activeQuestion.answers)"
          class="question__answers__item">
        <mat-checkbox (click)="handleCheckbox(item)"
                      [checked]="answerIndexes.includes(item.index)">{{ item.answer }}</mat-checkbox>
      </li>
    </ul>

    <app-button (click)="submitQuestion()">{{ activeQuestionIndex === questions.length - 1 ? 'Завершить' : 'Далее' }}</app-button>
  </div>

  <div *ngIf="isDone"
       class="results">
    <p class="title">Ваш результат: <b>{{ result.points }}</b></p>
    <p class="text" *ngIf="lessons.length">Вы допустили ошибки в следующих лекциях:</p>
    <p class="text" *ngIf="!lessons.length">Вы не допустили ни одной ошибки</p>
    <ul class="results__subjects">
      <li *ngFor="let item of lessons"
          (click)="toLesson(item)"
          class="results__subjects__item link">{{ item.title }}</li>
    </ul>
    <app-button *ngIf="lessons.length" (click)="startQuiz()">Попробовать еще раз</app-button>
  </div>

  <div class="flex center desc" *ngIf="!activeQuestion && !isDone">
    <div class="desc">
      <p class="title">Описание</p>
      <p class="text info">Адаптивное тестирование представляет из себя тестирование.<br>
        Нажимая на кнопку "Приступить к выполнению", Вам предоставляется возможность пройти тестирование, попыток не
        ограниченное кол-во, но все результаты записываются и будут доступны преподавателю.
      </p>
      <mat-divider></mat-divider>
      <br>
      <p class="text">Кол-во необходимых баллов: <b>123</b></p>
    </div>
    <app-button (click)="startQuiz()">Приступить к выполнению</app-button>
  </div>

</app-shadow-container>

<div class="flex center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

