<mat-drawer-container>
  <mat-drawer mode="side" opened class="drawer-content">
    <div class="drawer-content--inner">
      <div class="page-controls">
        <button type="submit"
                mat-flat-button
                class="home-button"
                color="primary"
                routerLink="/user/topics">
          <mat-icon aria-hidden="false" aria-label="">home</mat-icon>
        </button>
        <mat-icon aria-hidden="false" aria-label="">radio_button_unchecked</mat-icon>
      </div>
      <div class="page-controls">
        <mat-icon aria-hidden="false" aria-label="" class="pictureInPicture-button">picture_in_picture_alt</mat-icon>
      </div>
      <mat-icon aria-hidden="false" aria-label="" (click)="handleLogout()" routerLink="/auth/login"
                class="logout-button">clear
      </mat-icon>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="app-content">
      <main class="main">
        <router-outlet></router-outlet>
      </main>
      <aside class="sidebar-content">
        <ng-template #sidebar></ng-template>
      </aside>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
