<section class="contain-tasks">
  <div class="task-list">
    <mat-card class="task-item"
         *ngFor="let t of tasks"
    >
      <mat-card-title>
        <h6 class="task-item-title">{{t.title}}</h6>
      </mat-card-title>
      <mat-card-content>
        <p class="task-item-description">{{t.description}}</p>
        <p class="task-item-author">Автор: {{t.author}}</p>
        <mat-icon class="task-item-complete" aria-hidden="false" *ngIf="t.isComplete">check_circle_outline</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="topic-info">
    <h2 class="topic-info-title">{{topic.title}}</h2>
    <p  class="topic-info-description">{{topic.description}}</p>
    <p class="topic-info-success"><strong>Доступ: </strong>{{topic.access}}</p>
    <p class="topic-info-author"><strong>Автор: </strong>{{topic.author}}</p>
    <p class="topic-info-follow" *ngIf="topic.isFollow; else disallow">Подписан</p>
    <ng-template #disallow><p class="topic-info-follow">Не подписан</p> </ng-template>

  </mat-card>

</section>
