<section class="test-page">
  <header>
    <h1 class="headline-1">Редактор теста</h1>
    <app-button [alert]="true" (click)="openDialog()">Удалить тест</app-button>
  </header>

  <section class="main" *ngIf="form">

    <div class="edit-test"
         *ngIf="selectedQuestionForm">
      <app-shadow-container>
        <span class="title">Настройки вопроса</span>
        <form [formGroup]="selectedQuestionForm">
          <mat-form-field >
            <mat-label>Текст вопроса</mat-label>
            <input matInput formControlName="text">
          </mat-form-field>

          <mat-form-field class="select">
            <mat-label>Уровень сложности</mat-label>
            <mat-select formControlName="difficulty">
              <mat-option [value]="1">Лёгкий</mat-option>
              <mat-option [value]="2">Средний</mat-option>
              <mat-option [value]="3">Сложный</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select">
            <mat-label>Тип вопроса</mat-label>
            <mat-select formControlName="qtype">
              <mat-option [value]="questionTypeEnum.SINGLE">Один правильный ответ</mat-option>
              <mat-option [value]="questionTypeEnum.MULTIPLE">Несколько правильных ответов</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Связать с лекцией"
                   matInput
                   formControlName="subtheme"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayLessonTitle">
              <mat-option *ngFor="let option of filteredLessons$ | async" [value]="option.id">
                {{ option.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <div class="rubrics">
          <p class="caption">Варианты ответов</p>
          <ul class="rubrics__list">
            <li *ngFor="let answer of answers.controls; let i = index"
                class="rubrics__list__item text">
                <mat-checkbox (click)="handleCheckbox(answer.value.index)"
                              [formControl]="answer.get('checked')"
                              color="primary"></mat-checkbox>
                <span contenteditable="true"
                      propValueAccessor="innerHTML"
                      [formControl]="answer.get('value')"></span>
                <mat-icon (click)="deleteAnswer(i)">delete</mat-icon>
            </li>
          </ul>
          <app-button [bordered]="true" (click)="onAddAnswer()">Добавить вариант</app-button>
        </div>
        <mat-divider></mat-divider>

        <footer class="footer">
          <app-button [alert]="true" (click)="deleteQuestion()">Удалить вопрос</app-button>
          <app-button (click)="saveQuestion()">Сохранить</app-button>
        </footer>
      </app-shadow-container>
    </div>

    <div class="choose-test">
      <app-shadow-container *ngFor="let questionForm of questions.controls"
                            (click)="selectQuestion(questionForm)"
                            [class.inactive]="selectedQuestionForm?.value?.id !== questionForm.value.id">
        <span class="caption">
          {{ getQuestionTypeName(questionForm.value.qtype) }}
        </span>
        <div class="text">
          {{ questionForm.value.text }}
        </div>
      </app-shadow-container>

      <div class="actions">
        <button mat-stroked-button
                color="primary"
                (click)="addQuestion()">Добавить вопрос</button>
      </div>
    </div>
  </section>

  <div class="flex center" *ngIf="!form">
    <mat-spinner></mat-spinner>
  </div>
</section>
