<div class="topic-cards" *ngIf="topics">
  <h1>Мои темы</h1>
  <div class="three-column">
    <mat-card class="example-card" *ngFor="let topic of topics.content">
      <mat-card-subtitle>
        <div>
          <b>Автор:</b>
          {{topic.author.firstName == null ? topic.author.email : topic.author.lastName + ' ' + topic.author.firstName}}
        </div>
      </mat-card-subtitle>
      <mat-card-title>{{topic.title}}</mat-card-title>
      <mat-card-actions>
        <button mat-stroked-button color="primary" [routerLink]="'/user/topics/' + topic.id + '/tasks'">Перейти</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
