<!--<div class="error" *ngIf="error">-->
<!--  Доступ запрещен, но Вы пытались :)-->
<!--</div>-->

<!--<section class="contain-tasks" *ngIf="!error">-->
<section class="contain-tasks">
  <h1>Список заданий</h1>
  <section class="task-info" *ngIf="topic">
    <div class="tasks-header">
      <a class="arrow-back" mat-stroked-button [routerLink]="'/teacher/topics'">
        <mat-icon class="green-color" aria-hidden="false" aria-label="Example heart icon">chevron_left</mat-icon>
        <span>Назад</span>
      </a>
      <button mat-flat-button color="primary">Редактировать тему</button>
    </div>
    <h1 class="title"><b>Тема:</b> {{topic.title}}</h1>
    <ul class="task-info-desc">
      <li><b>Автор:</b> {{topic.author && topic.author.firstName == null ? topic.author.email : topic.author.lastName + ' ' + topic.author.firstName}}</li>
    </ul>
  </section>

  <div class="task-list" *ngIf="tasks">
    <mat-card class="example-card" *ngFor="let task of tasks">
      <mat-card-subtitle>
        <div>
          <b>Автор:</b>
          {{task.author.firstName == null ? task.author.email : task.author.firstName + ' ' + task.author.lastName}}
        </div>

        <div>
          <b>Сложность:</b>
          {{task.level == 'EASY' ? 'Легкий' : task.level == 'MIDDLE' ? 'Средний' : 'Сложный'}}
        </div>
      </mat-card-subtitle>
      <mat-card-title>{{task.title}}</mat-card-title>
      <mat-card-actions>
        <button mat-stroked-button color="primary" [routerLink]="'/user/topics/' + topicId + '/tasks/' + task.id">Перейти</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="add" [routerLink]="'add-task'">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Добавление" color="primary">add</mat-icon>
      <p>Добавить новое задание</p>
    </mat-card>
  </div>

  <div class="task-list" *ngIf="!tasks">
    <mat-card class="add" [routerLink]="'add-task'">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Добавление" color="primary">add</mat-icon>
      <p>Добавить новое задание</p>
    </mat-card>
  </div>

</section>
