<mat-toolbar color="primary">
  <mat-toolbar-row class="example-spacer">
    <span>Цифровой тьютор</span>
    <nav>
      <ul>
        <li><a mat-button routerLink="/" routerLinkActive="active">Главная</a></li>
        <li><a mat-button routerLink="/user/topics" routerLinkActive="active">Все темы</a></li>
        <li><a mat-button routerLink="/user/topics/my" routerLinkActive="active">Мои темы</a></li>
      </ul>
    </nav>
    <div class="right-nav">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Профиль" routerLink="/user/profile">person</mat-icon>
      <mat-icon (click)="logout()" class="example-icon" aria-hidden="false" aria-label="Выход">logout</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
