<app-header></app-header>

<div class="topic-cards">
  <div class="topic-cards-grid">
    <div class="topic-card-item">
      <div class="card-content">
        <div class="card-label">
          <p>Подписан</p>
        </div>
        <a href="" class="card-content-link">
          <div class="card-header">
            <p>Массивы</p>
          </div>
          <div class="card-body">
            <p>текст текст тескст текст текст тескст текст текст тескст текст текст тескст</p>
          </div>
          <div class="card-footer">
            <p>Автор: Пушка Кукушка</p>
            <p>Создан: 2017г.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
