<app-shadow-container class="participants-container">
  <p class="title">Участники</p>
  <div class="participants" *ngIf="students$ | async as students">
    <div class="participant-container" *ngFor="let student of students">
      <div class="participant-container__inner">
        <app-info-container center
                            title="Студент"
                            [text]="student | fio"
                            [grey]="true"
                            [noPadding]="true"></app-info-container>
      </div>
      <mat-icon>more_vert</mat-icon>
    </div>

    <div *ngIf="students.length == 0">Нет данных</div>
  </div>

</app-shadow-container>
