<div class="topic-cards" *ngIf="topics">
  <h1>Мои темы</h1>
  <div class="three-column">
    <mat-card class="example-card" *ngFor="let topic of topics.content">
      <mat-card-subtitle>
        <div>
          <b>Автор:</b>
          {{topic.author.firstName == null ? topic.author.email : topic.author.lastName + ' ' + topic.author.firstName}}
        </div>
      </mat-card-subtitle>
      <mat-card-title>{{topic.title}}</mat-card-title>
      <mat-card-actions>
        <button mat-stroked-button color="primary" [routerLink]="'/teacher/topic/' + topic.id">Перейти</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="add" [routerLink]="'/teacher/topics/add'">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Добавление" color="primary">add</mat-icon>
      <p>Добавить новую тему</p>
    </mat-card>
  </div>
</div>
