<section class="wrapper" *ngIf="form">

  <h1 class="headline-1">Добавление нового задания</h1>
  <mat-card-subtitle *ngIf="error">Неправильно заполнены поля ввода</mat-card-subtitle>
    <form class="add-topic" [formGroup]="form" (ngSubmit)="onSubmit()">

      <app-shadow-container>
        <div class="name-and-diff">
        <mat-form-field class="add-title" hintLabel="Максимально 180 символов" >
          <mat-label>Введите название задания</mat-label>
          <input matInput #input formControlName="title" maxlength="180" placeholder="Программирование в среде СУБД">
          <mat-hint align="end">{{input.value?.length || 0}}/180</mat-hint>
        </mat-form-field>

        <mat-form-field class="difficulty">
          <mat-label>Уровень сложности</mat-label>
          <mat-select formControlName="level">
            <mat-option *ngFor="let level of levels" [value]="level">
              {{ level | levelName }}
            </mat-option>
          </mat-select>
          <mat-hint align="end">В дальнейшем уровень понадобится для подбора заданий</mat-hint>
        </mat-form-field>

        <mat-form-field class="difficulty">
          <mat-label>Статус</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of publishStatuses" [value]="status">
              {{ status | statusName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <mat-form-field class="add-desc" >
        <mat-label>Описание задачи</mat-label>
        <textarea formControlName="description" matInput class="desc-width"></textarea>
        </mat-form-field>

        <div class="restrictions">
          <mat-form-field class="item" hintLabel="Максимально 8 секунд" >
            <mat-label>Введите ограничение по времени выполнения (секунды)</mat-label>
            <input matInput #input formControlName="timeLimit" placeholder="1">
          </mat-form-field>

          <mat-form-field class="item" hintLabel="Максимально 256 Мб" >
            <mat-label>Введите ограничение по используемой памяти (Мб)</mat-label>
            <input matInput #input formControlName="memoryLimit" placeholder="256">
          </mat-form-field>

          <mat-form-field class="item" hintLabel="Ввод только через запятую, без пробелов между конструкциями" >
            <mat-label>Введите запрещенные конструкции через запятую</mat-label>
            <input matInput #input formControlName="constructions" placeholder="if,for,while">
          </mat-form-field>
        </div>
    </app-shadow-container>

    <div class="tests">
      <h2 class="headline-2">Добавление тестов</h2>
      <p class="text">При добавлении данных, по которым будет производиться проверка программного кода необходимо писать с новой
        строчки. Минимальное количество тестируемых данных равно 3.</p>
    </div>

    <app-shadow-container class="add-tests-card">
      <div class="add-tests" formArrayName="codes"
          *ngFor="let item of codes.controls; let i = index;">
        <span>Входные данные #{{i + 1}}</span>
        <span>Выходные данные #{{i + 1}}</span>

        <div class="add-test" [formGroupName]="i">
          <ngx-monaco-editor [options]="editorOptions"
                            formControlName="input"></ngx-monaco-editor>

          <ngx-monaco-editor [options]="editorOptions"
                            formControlName="output"></ngx-monaco-editor>
        </div>

      </div>
    </app-shadow-container>

    <div class="topic-button">
      <a mat-stroked-button color="primary" (click)="addItem()">Добавить данные для теста</a>
      <a mat-button color="warn" (click)="removeItem()">Удалить последние данные для теста</a>
    </div>

    <div class="topic-button">
      <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="openSnackBar()">Сохранить</button>
    </div>
  </form>
</section>
