
<div class="no-solution-found" *ngIf="!peerTaskSolution">
  <p>На данный момент отсутсвуют доступные для рецензирования решения. Попробуйте позже</p>
  <button mat-stroked-button color="primary" [routerLink]="'/user/topics/' + peerTask.topicId.id + '/tasks/peer/' + peerTask.id">Назад</button>

</div>

<section class="two-column" *ngIf="peerTask && peerTaskSolution">
  <section class="solution-info-section">
    <p>Рецензия</p>
    <div class="solution-description">
      <p>Решение: {{peerTaskSolution.id}}</p>
      <p>Решение: {{peerTaskSolution.language}}</p>
    </div>
    <div class="task-description">
      <p [innerHTML]="peerTask.description"></p>
    </div>
    <p><b>Решение студента</b></p>
    <div class="student-solution">
      <p>{{peerTaskSolution.sourceCode}}</p>
    </div>

  </section>

  <section class="peer-review-section">
    <p>Итоговый балл за рецензию: {{finalGrade}}/{{maxGrade}}</p>
    <div class="peer-review-info">
      <div *ngIf="peerTask.criterions.length > 0">
        <p *ngFor="let criterion of peerTask.criterions; let i = index">
          Критерий №{{i + 1}}
          <br/> {{criterion}}
        </p>
      </div>
    </div>
    <div class="peer-review-process-block" *ngIf="peerTask.criterions.length > 0" [formGroup]="criterionForm">

      <div class="peer-review-process" formArrayName="criterions"
           *ngFor="let item of criterions.controls; let i = index">

        <p>{{i + 1}}.{{peerTask.criterions[i]}}</p>

        <mat-slider (change)="countFinalGrade($event, i)" class="criterion-mat-slider" min="1"
                    max="{{peerTask.maxGradesPerCriterions[i]}}" step="1"
                    [value]="gradesPrimaryArray[i]" thumbLabel
                    tickInterval="1">
        </mat-slider>

        <p>Аргументация к оценке</p>

        <div class="review-editor-block" [formGroupName]="i">

          <angular-editor class="review-editor" id="editor{{i}}"
                          [config]="editorConfig" formControlName="criteria">
          </angular-editor>

        </div>

      </div>

      <p>Общий комментарий к работе</p>

      <angular-editor class="review-editor" id="editor{{peerTask.criterions.length}}"
                      formControlName="summaryComment"
                      [config]="editorConfig">
      </angular-editor>

    </div>
    <button mat-flat-button color="primary"
            (click)="sendReview()">Рецензировать
    </button>
  </section>
</section>
