<main class="lesson-sidebar">
  <header class="sticky subject">
    <div class="container">
      <span class="icon-button">
        <mat-icon style="margin-right: 10px">expand_less</mat-icon>
        Предыдущая тема
      </span>
    </div>
    <app-info-container title="Текущая тема" text="Программное обеспечение"></app-info-container>
    <div class="colored-line"></div>
  </header>
  <div class="content">
    <nav class="content__nav">
      <span class="content__nav__item content__nav__item--active caption--light">Список занятий</span>
      <span class="content__nav__item caption--light">Материалы</span>
    </nav>
    <div class="content__lessons">
      <app-highlighted-container color="#00D996">
        <app-info-container [center]="true" title="Занятие" text="Программное обеспечение"></app-info-container>
      </app-highlighted-container>
      <app-highlighted-container color="#00D996">
        <app-info-container [center]="true" title="Занятие" text="Программное обеспечение и информационные технологии"></app-info-container>
      </app-highlighted-container>
      <app-highlighted-container color="#00D996">
        <app-info-container [center]="true" title="Тест" text="Why do you cum"></app-info-container>
      </app-highlighted-container>
      <app-highlighted-container bgColor="#00AD78">
        <app-info-container [ngStyle]="{ backgroundColor: '#00AD78' }" [center]="true" title="Задача" text="Домой ребята домой"></app-info-container>
      </app-highlighted-container>
    </div>
  </div>
  <footer class="subject subject--next">
    <app-info-container title="Следующая тема" text="Уроки по pornhub.com"></app-info-container>
    <aside class="next">
      <mat-icon style="color:white;">expand_more</mat-icon>
    </aside>
  </footer>
</main>
