<section class="wrapper">
  <h1>Добавление новой темы</h1>
  <mat-card-subtitle *ngIf="error">Неправильно заполнены поля ввода</mat-card-subtitle>

  <form class="add-topic" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field hintLabel="Максимально 180 символов" appearance="fill">
      <mat-label>Введите название темы</mat-label>
      <input matInput #input formControlName="title" maxlength="180" placeholder="Программирование в среде СУБД">
      <mat-hint align="end">{{input.value?.length || 0}}/180</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Выберите доступ к теме</mat-label>
      <mat-select formControlName="accessType">
        <mat-option value="PUBLIC">Публичный</mat-option>
        <mat-option value="PRIVATE">Приватный</mat-option>
      </mat-select>
      <mat-hint align="end">Приватный доступен только приглашенным пользователям</mat-hint>
    </mat-form-field>

    <div class="topic-button">
      <button [disabled]="form.invalid" mat-flat-button color="primary">Сохранить</button>
    </div>
  </form>
</section>
