<ul class="list" *appLet="topicsWithLessons$ | async as data">

  <li class="list__item" *ngFor="let item of data; let i = index">
    <main>
      <div class="subject__left">
        <app-shadow-container class="shadow-container"
                              [class.active]="item.topic.id === selectedTopic?.id">
          <app-info-container class="info-container"
                              center
                              [title]="'Тема ('+item.topic.priority+')'"
                              [text]="item.topic.title"
                              [grey]="item.topic.id !== selectedTopic?.id"
                              (click)="selectTopic(item.topic)"></app-info-container>
        </app-shadow-container>
      </div>
      <div class="subject__right">
        <app-shadow-container *ngFor="let lesson of item.lessons"
                              class="shadow-container">
          <app-info-container center
                              [title]="'Занятие ('+lesson.priority+')'"
                              [text]="lesson.title"
                              [routerLink]="['/admin/topic', item.topic.id, 'lesson', lesson.id]"></app-info-container>
        </app-shadow-container>
        <app-shadow-container *ngFor="let test of item.tests; let i = index"
                              class="shadow-container">
          <app-info-container center
                              title="Тест"
                              [text]="'Тест #' + i"
                              [routerLink]="['/admin/topic', item.topic.id, 'task', test.testId]"></app-info-container>
        </app-shadow-container>
        <app-shadow-container *ngFor="let task of item.tasks"
                              class="shadow-container">
          <app-info-container center
                              [title]="'Задача ('+task.priority+')'"
                              [text]="task.title"
                              [routerLink]="['/admin/topic', item.topic.id, 'task', task.id]"></app-info-container>
        </app-shadow-container>
      </div>
    </main>

    <aside class="subject__actions">
      <div class="subject__actions__row">
        <app-button class="button" [bordered]="true" (click)="addLesson(item.topic.id)">Добавить занятие</app-button>
        <app-button class="button" [bordered]="true" (click)="addTask(item.topic.id)">Добавить практ. занятие</app-button>
        <app-button *ngIf="i === 0" class="button" [bordered]="true" (click)="addTopic()">Добавить тему</app-button>
      </div>
    </aside>

  </li>

  <li class="list__item" *ngIf="!data || data && !data.length">
    <aside class="subject__actions">
      <div class="subject__actions__row">
        <app-button class="button" (click)="addTopic()">Добавить тему</app-button>
      </div>
    </aside>

  </li>

</ul>

