<section class="alert-box">
  <h1 mat-dialog-title class="title">Адаптивное тестирование</h1>
  <div class="text">
    Адаптивное тестирование - подход, при котором предъявляемые испытуемому <b>текущие вопросы</b> зависят от результатов
    его <b>ответов на предыдущие вопросы</b>; количество вопросов также может варьироваться.<br><br>Основная цель - <b>повышение
    эффективности тестирования</b> за счет минимизации времени определения уровня знаний обучающегося.<br><br>
    После прохождения тестирования пользователю предлагается список лекций, пока которым были допущены ошибки.
    Такие лекции помечаются красным цветом и меняется уровень подачи материала для более детального изучения.
  </div>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-stroked-button color="primary" (click)="close()">Понятно</button>
  </div>
</section>
