<section *ngIf="course$ | async as course">
  <h1 class="headline-1">{{ course.title }}</h1>
  <app-two-box-grid class="description">
    <app-shadow-container>
      <p class="title">Описание курса</p>
      <p class="text">{{ course.description }}</p>
    </app-shadow-container>
    <app-shadow-container>
      <Title>Полученные знания</Title>
      <ul class="skills">
        <li class="skills__item" *ngFor="let skill of course.skills">
          <mat-icon>beenhere</mat-icon>
          <p class="text">{{ skill }}</p>
        </li>
      </ul>
    </app-shadow-container>
  </app-two-box-grid>
</section>
<h2 class="headline-2">Темы и занятия курса</h2>
<ul class="lessons">
  <li class="lessons__item" *ngFor="let item of (topicsWithLessons$ | async)">
    <div class="lessons__item__line">
      <app-highlighted-container neutral>
        <app-info-container [bottom]="true" title="Тема" [text]="item.topic.title"></app-info-container>
      </app-highlighted-container>
      <app-highlighted-container *ngFor="let lesson of item.lessons" color="#00D996" (click)="redirectToLesson(item.topic.id, lesson.id)">
        <app-info-container [bottom]="true" title="Занятие" [text]="lesson.title"></app-info-container>
      </app-highlighted-container>
      <app-highlighted-container *ngFor="let task of item.tasks" color="#00D996" (click)="redirectToTask(item.topic.id, task.id)">
        <app-info-container [bottom]="true" title="Задача" [text]="task.title"></app-info-container>
      </app-highlighted-container>
    </div>
  </li>
</ul>
