@import "../../../../vars";
@import "../../../../colors";

.headline--1, .headline--2 {
  margin-bottom: $space * 2;
}

.two-box-grid {
  align-items: flex-start;
}

app-shadow-container {
  background: white;
}

.skills {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $space;
    }

    p {
      margin: 0;
    }

    mat-icon {
      margin-right: $space;
      color: $block-green;
    }
  }
}

.description {
  margin-bottom: $space * 3;
}

.lessons {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
    margin-bottom: $space !important;
    cursor: pointer;

    &__line {
      display: flex;
      align-items: center;
      overflow: scroll;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }

      a {
        text-decoration: none;
      }

      app-highlighted-container {
        flex-shrink: 0;
        height: 140px;

        @media (min-width: 1281px) {
          width: 32%;
          margin-right: 2%;
        }

        @media (max-width: 1280px) {
          width: 48%;
          margin-right: 2%;
        }
      }
    }

    .icon {
      position: absolute;
      right: -40px;
      z-index: 1000;
      width: 30px;
      height: 30px;

      &__image {
        width: 10px;
      }
    }

  }
}

.text {
  margin: 0;
}
