$block-black: #23272B;
$block-gray: #D9E0E7;
$block-dark-gray: #E9EDF1;
$block-green: #00D996;
$block-red: #D9534F;

$button-green: #00AD78;

$text-black: #17191D;
$text-headline: rgba($text-black, 0.8);
$text-paragraph: rgba($text-black, 0.7);

$background-white: #FFFFFF;
