<section class="two-column" *ngIf="task">
  <section class="task-info">
    <a class="arrow-back" mat-stroked-button [routerLink]="'/user/topics/' + topicId">
      <mat-icon class="green-color" aria-hidden="false" aria-label="Example heart icon">chevron_left</mat-icon>
      <span>Назад</span>
    </a>
    <h1 class="title">Среднее арифметическое нескольких чисел</h1>
    <ul class="task-info-desc">
      <li><b>Тема:</b> {{task.topicId.title}}</li>
      <li><b>Уровень сложности:</b> {{task.level}}</li>
      <li><b>Время выполнения:</b> {{task.options.timeLimit}} мс.</li>
      <li><b>Память:</b> {{task.options.memoryLimit}} Кб</li>
    </ul>
    <h3>Описание</h3>
    <p>{{task.description}}</p>

    <h3>Запрещенные конструкции</h3>
    <ul>
      <li *ngFor="let c of task.options.constructions">{{c}}</li>
    </ul>

    <div class="task-table">
      <h3>Входные данные</h3>
      <h3>Выходные данные</h3>
    </div>

    <div class="task-table" *ngFor="let test of task.tests.input; let i = index">
      <p>{{test}}</p>

      <p>{{task.tests.output[i]}}</p>
    </div>

    <mat-divider class="example-code"></mat-divider>


  </section>

  <section class="task-code"
           [formGroup]="codeForm">

    <div class="header-code">
      <mat-form-field>
        <mat-label>Выберите язык</mat-label>
        <mat-select [value]="editorOptions.language" (selectionChange)="selectLanguage($event.value)">
          <mat-option value="cpp">C/C++</mat-option>
          <mat-option value="python">Python</mat-option>
          <mat-option value="kotlin">Kotlin</mat-option>
          <mat-option value="php">PHP</mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="!spinner" mat-flat-button color="primary" (click)="sendCode()">Отправить</button>
      <mat-spinner *ngIf="spinner" [strokeWidth]="3" [diameter]="30"></mat-spinner>
    </div>

    <ngx-monaco-editor [options]="editorOptions"
                       formControlName="code"></ngx-monaco-editor>
  </section>
</section>

