<app-header></app-header>

<section class="two-column">
  <section class="task-info">
    <a class="arrow-back" mat-stroked-button href="https://www.google.com/">
      <mat-icon class="green-color" aria-hidden="false" aria-label="Example heart icon">chevron_left</mat-icon>
      <span>Назад</span>
    </a>
    <h1 class="title">Среднее арифметическое нескольких чисел</h1>
    <ul class="task-info-desc">
      <li><b>Тема:</b> Easy Coding</li>
      <li><b>Уровень сложности:</b> Легкий</li>
      <li><b>Время выполнения:</b> 10 с.</li>
      <li><b>Память:</b> 1 Мб</li>
    </ul>
    <h3>Описание</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere volutpat dolor sed rhoncus. Vivamus
      elementum augue metus, nec maximus purus mollis eget. In eu purus at metus aliquam condimentum sit amet vel sem.
      Mauris faucibus dapibus tellus. In vulputate vel mauris ac fermentum. Praesent consectetur elit malesuada lacus
      eleifend volutpat. Integer ullamcorper venenatis feugiat. Sed feugiat justo nibh, sit amet sodales dui ultrices a.
      Sed tempor nec dui nec consequat. Etiam ultricies odio at nisi sollicitudin varius nec nec sem.</p>

    <h3>Запрещенные конструкции</h3>
    <ul>
      <li>if</li>
      <li>while</li>
      <li>for</li>
    </ul>

    <div class="task-table">
      <h3>Входные данные</h3>
      <h3>Выходные данные</h3>
    </div>

    <div class="task-table">
      <p>3<br>
        4<br>
        5</p>

      <p>6.0</p>
    </div>

    <mat-divider class="example-code"></mat-divider>

    <div class="task-table">
      <p>3<br>
        3<br>
        4</p>

      <p>5.0</p>
    </div>

  </section>

  <section class="task-code"
           [formGroup]="codeForm">

    <div class="header-code">
      <mat-form-field>
        <mat-label>Выберите язык</mat-label>
        <mat-select [value]="editorOptions.language" (selectionChange)="selectLanguage($event.value)">
          <mat-option value="cpp">C/C++</mat-option>
          <mat-option value="python">Python</mat-option>
          <mat-option value="kotlin">Kotlin</mat-option>
          <mat-option value="php">PHP</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary">Отправить</button>
    </div>

    <ngx-monaco-editor [options]="editorOptions"
                       formControlName="code"></ngx-monaco-editor>
  </section>
</section>

