<section class="two-column" *ngIf="task">
  <section class="task-info">
    <div class="info-header">
      <a class="arrow-back" mat-stroked-button [routerLink]="'/user/topics/' + topicId + '/tasks'">
        <mat-icon class="green-color" aria-hidden="false" aria-label="Example heart icon">chevron_left</mat-icon>
        <span>Назад</span>
      </a>
      <span class="complete">Выполнено</span>
    </div>
    <h1 class="title">{{task.title}}</h1>
    <ul class="task-info-desc">
      <li><b>Тема:</b> {{task.topicId.title}}</li>
      <li><b>Уровень сложности:</b> {{task.level}}</li>
      <li><b>Время выполнения:</b> {{task.options.timeLimit}} мс.</li>
      <li><b>Память:</b> {{task.options.memoryLimit}} Кб</li>
    </ul>
    <h3>Описание</h3>
    <p>{{task.description}}</p>

    <h3>Запрещенные конструкции</h3>
    <ul>
      <li *ngFor="let c of task.options.constructions">{{c}}</li>
    </ul>

    <div class="task-table">
      <h3>Входные данные</h3>
      <h3>Выходные данные</h3>
    </div>

    <div class="task-table" *ngFor="let test of task.tests.input; let i = index">
      <p>{{test}}</p>

      <p>{{task.tests.output[i]}}</p>
    </div>

    <mat-divider class="example-code"></mat-divider>


  </section>

  <section class="task-code"
           [formGroup]="codeForm">

    <div class="header-code">
      <mat-form-field>
        <mat-label>Выберите язык</mat-label>
        <mat-select [value]="editorOptions.language" (selectionChange)="selectLanguage($event.value)">
          <mat-option value="cpp">C/C++</mat-option>
          <mat-option value="python">Python</mat-option>
          <mat-option value="kotlin">Kotlin</mat-option>
          <mat-option value="php">PHP</mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="!spinner" mat-flat-button color="primary" (click)="sendCode()">Отправить</button>
      <mat-spinner *ngIf="spinner" [strokeWidth]="3" [diameter]="30"></mat-spinner>
    </div>

    <ngx-monaco-editor [options]="editorOptions"
                       formControlName="code"></ngx-monaco-editor>
  </section>
</section>

<section class="task-results-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <ng-container matColumnDef="taskNumber">
      <th mat-header-cell *matHeaderCellDef> Номер задачи </th>
      <td mat-cell *matCellDef="let element"> {{element.taskNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="attempt">
      <th mat-header-cell *matHeaderCellDef> Попытка </th>
      <td mat-cell *matCellDef="let element"> {{element.attempt}} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Язык </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <ng-container matColumnDef="messageOut">
      <th mat-header-cell *matHeaderCellDef> Сообщение </th>
      <td mat-cell *matCellDef="let element"> {{element.messageOut}} </td>
    </ng-container>

    <ng-container matColumnDef="timeUsage">
      <th mat-header-cell *matHeaderCellDef> Время </th>
      <td mat-cell *matCellDef="let element"> {{element.timeUsage}} </td>
    </ng-container>

    <ng-container matColumnDef="memoryUsage">
      <th mat-header-cell *matHeaderCellDef> Память </th>
      <td mat-cell *matCellDef="let element"> {{element.memoryUsage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>

