@import "../../../../vars";
@import "../../../../colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0 !important;
  }

  .red {
    color: red;
  }

  .green {
    color: mediumseagreen;
  }
}

.task-info, .info-header {
  padding: 0;
  width: calc(100% - 40px);
  margin-bottom: $space * 3;

  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space;
  }

  .task-info-desc {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space / 2;
    margin: 0 0 15px 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .arrow-back {
    display: inline-flex;
    align-items: center;

    span {
      padding-left: 5px;
      padding-right: 7px;
    }
  }

  h3 {
    font-weight: bold;
    margin-top: $space / 2;
  }

  .task-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space;

    p {
      white-space: pre-line;
    }
  }

  .example-code {
    margin-bottom: $space / 2;
  }
}

footer {
  margin-top: $space * 3;
}

.no-mb {
  margin-bottom: 0;
}
