<app-two-box-grid class="description">
  <app-shadow-container>
    <div class="card-header">
      <p class="title">Описание курса</p>
      <mat-icon>create</mat-icon>
    </div>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur, massa quis accumsan malesuada, est urna condimentum neque, in fermentum nunc nulla ac tortor. Cras nec rhoncus magna. Suspendisse non fringilla urna. Phasellus auctor, ex ac dignissim efficitur, diam ante varius nulla, eget auctor ex mauris a tellus. Pellentesque ut iaculis lectus. Aliquam eu risus enim. Mauris quis metus a augue facilisis dignissim. Duis nibh ipsum, cursus vel dictum dignissim, molestie vitae massa.</p>
  </app-shadow-container>
  <app-shadow-container>
    <div class="card-header">
      <p class="title">Полученные знания</p>
      <mat-icon>create</mat-icon>
    </div>
    <ul class="skills">
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
    </ul>
  </app-shadow-container>
</app-two-box-grid>
<app-two-box-grid>
  <app-shadow-container class="rubrics">
    <p class="title">Рубрики курса</p>
    <ul class="rubrics__list">
      <li class="rubrics__list__item text">Информатика</li>
      <li class="rubrics__list__item text">Массивы</li>
      <li class="rubrics__list__item text">Программирование</li>
      <li class="rubrics__list__item text">C/C++</li>
      <li class="rubrics__list__item text">ООП</li>
      <li class="rubrics__list__item text">Технологии</li>
    </ul>
    <app-button [bordered]="true">Добавить рубрику</app-button>
  </app-shadow-container>
</app-two-box-grid>
