<app-two-box-grid class="description">
  <app-shadow-container>
    <div class="card-header">
      <p class="title">Описание курса</p>
      <mat-icon>create</mat-icon>
    </div>
    <p class="text" contenteditable="true" [(ngModel)]="description"></p>
  </app-shadow-container>
  <app-shadow-container>
    <div class="card-header">
      <p class="title">Полученные знания</p>
      <mat-icon>create</mat-icon>
    </div>
    <ul class="skills">
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text" contenteditable="true" propValueAccessor="innerHTML"
           [formControl]="descriptionControl"></p>
      </li>
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text" contenteditable="true" propValueAccessor="innerHTML"
           [formControl]="descriptionControl"></p>
      </li>
      <li class="skills__item">
        <mat-icon>beenhere</mat-icon>
        <p class="text" contenteditable="true" propValueAccessor="innerHTML"
           [formControl]="descriptionControl"></p>
      </li>
    </ul>
  </app-shadow-container>
</app-two-box-grid>
<app-two-box-grid>
  <app-shadow-container class="rubrics">
    <p class="title">Рубрики курса</p>
    <ul class="rubrics__list" >
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
      <li class="rubrics__list__item text" contenteditable="true" propValueAccessor="innerHTML" [formControl]="descriptionControl"></li>
    </ul>
    <app-button [bordered]="true">Добавить рубрику</app-button>
  </app-shadow-container>
</app-two-box-grid>
